{% extends 'layout/base.html' %}

{% block notifications %}
    <h2>Data recieved</h2>
    {% include "table.html" %}
{% endblock %}

{% block content %}

<h2>Search (Case-sensitive):</h2>
<form>
    <input type="hidden" name="page" value="0">
    <input type="search" name="search" value="{{request.args.get('search', default='')}}">
</form>


<section class=pagenavbutton>
        {% if pagenum >= 1 %}
        <a class=pagebutton href="?page={{pagenum-1}}&search={{request.args.get('search', default='')}}">Previous pageee</a>
        {% endif %}
        <a class=pagebutton href="?page={{pagenum+1}}&search={{request.args.get('search', default='')}}">Next pageee</a>
 </section>

{% endblock %}